body{
    padding:0;
    display:flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #6d597a;
}
.calculator{
    display:flex;
    flex-direction: column; 
    width:45%;
    height:100%;
     background-color: rgb(47, 47, 47);
     justify-content: center;
    align-items: center;
}
button {
    /* color: crimson; */
    color:#e56b6f;
    font-size: 1.3em;
    font-weight: 700;
    width: 6em;
    height: 4em;
    background-color: #355070;
    justify-content: space-between;
    margin-bottom:0.1em;
    border-radius: 15px;
    box-shadow: 8px 3px 3px black;
    transition-duration: 0.8s;
}
.box{
    display: block;
}
input[type=text]{
    width: 98.5%;
    height:20%;
    margin-bottom: 0.2;
}
button:hover{
    /* border:2px solid white; */
    box-shadow: none;
    background-color: #314155;
}
#text{
    background-color: #eaac8b;
    font-size: 2.3em;
    margin-bottom: 0.4em;
    border-radius: 15px;
    border:3px solid white;
}

